/*----DIVIDERS STYLIZATION COMPONENTS----*/
.blur{
    backdrop-filter:blur(1em);
    -webkit-backdrop-filter:blur(1em);
}
/*----DIVIDERS STYLIZATION COMPONENTS----*/

/*----IMAGE STYLIZATION COMPONENTS----*/
.image-accent{
    border-radius:100%;
    background:
        linear-gradient(to bottom, #65e6ca, #0d6e89) border-box;
    box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgb(5, 55, 56);
}

.project-image{
    max-width:100%;
    object-fit: cover;
}

.intro-image{
    max-width:45em;
}

.square-image-accent{
    border-radius:2em;
    background:
        linear-gradient(to bottom, #65e6ca, #0d6e89) border-box;
    box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgb(5, 55, 56);
}

@media (max-width: 768px) {
  /* Your CSS styles here */
  .intro-image{
        width:100%;
    }
}

/*----IMAGE STYLIZATION COMPONENTS----*/

/*----COLOR CSS----*/

/*----COLOR CSS----*/