:root{
    --background:linear-gradient(to bottom ,rgba(0, 92, 97), rgba(72, 199, 172))
}
/*----MAIN PAGE CSS----*/
html, body{
    background-image:var(--background);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image:var(--background);
    overflow-x: hidden !important;
}
body{
    color:white !important
}

/*----MAIN PAGE CSS----*/

/*----PAGE COMPONENTS CSS----*/
.nav{
    background-color: rgba(185, 185, 185, 0.2) !important;
}
/*----PAGE COMPONENTS CSS----*/
#app{
    width:100vw !important;
}